.gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 15rem auto 5rem auto;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.gallery-inner-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 6rem;
}

.footer-pic {
    width: 50%;
}

.footer-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 1.2rem;
    padding: 1rem 0;
    font-weight: 500;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 5rem auto;
    gap: 1rem;
}

.newsletter-container-header {
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
}

.newsletter-text{
    text-align: center;
    padding-bottom: 2rem;
}

.newsletter-text a {
    color: #486149;
}

.newsletter-input {
    height: 3rem;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    background-color: #ed7a65;
    border-collapse: collapse;
}

::placeholder {
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

.newsletter-button {
    background-color: #9dccc7;
    color: white;
    border: none;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.border-right {
    border-right: 2px solid black;
}