.testimonial-header {
    margin-top: 5rem;
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
}

.header-highlighter {
    color: #ed7a65;
}

.testimonial-sub-header {
    padding: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

.testimonial-container {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 8rem auto;
    gap: 3rem;
}

.testimonial {
    background-color: #f0f0f0;
    /* border: 2px solid #41485e; */
    border-radius: 3px;
    padding: 4rem 0 2rem 0;
}

.testimonial-pic {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* top: 10%; */
    /* background-image: url(../../assets/pexels-kevin-bidwell-2380794.jpg); */
    /* object-fit: cover; */
    height: 10rem;
    width: 10rem;
    margin-top: -10rem;
    border-radius: 50%;
    z-index: 9999;
}

p {
    margin-bottom: 0;
}

.testimonial-tick {
    font-size: 3rem;
    font-family: 700;
}

.testimonial-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 1rem;
}

.cyan {
    color: #9dccc7;
}

.center{
    text-align: center;
    font-weight: 500;
}

.inner-padding {
    padding: 4rem;
}

.linkedin {
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}